<div class="st-promotion-hero">
  <a ui-sref="productLineNutri" style="color: inherit;">
    <img src="images/nutrition.jpg" style="width: 100%;">
    <div class="notification is-primary has-text-right">
      <span class="title is-1"><strong>30% OFF Nutritions*</strong></span>
      <br>
      <span class="subtitle is-7">*Selected brands only.</span>
    </div>
  </a>
</div>
<h3 class="title" ng-if="!master.user">Top Sellers</h3>
<h3 class="title" ng-if="master.user">Recommended for You</h3>
<div ng-include="'partials/product-list.html'"></div>
<p class="has-text-right">
  <a class="button is-primary" ui-sref="productLineNutri">
    <span>More</span>
    <span class="icon"><i class="fa fa-chevron-right"></i></span>
  </a>
</p>
<br>
<article class="message is-primary">
  <div class="message-header">
    50% Off for ALL Vitamins!
    <a class="button is-white is-small is-outlined" style="float: right; margin-top: -2px;"
      ui-sref="productLineVita">
      <span>Shop Now</span>
      <span class="icon"><i class="fa fa-angle-right"></i></span>
    </a>
  </div>
  <div class="message-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Pellentesque risus mi, tempus quis placerat ut, porta nec
    nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam
    gravida purus diam, et dictum felis venenatis efficitur.
    Aenean ac eleifend lacus, in mollis lectus. Donec sodales,
    arcu et sollicitudin porttitor, tortor urna tempor ligula,
    id porttitor mi magna a neque. Donec dui urna, vehicula et
    sem eget, facilisis sodales sem.
  </div>
</article>
<article class="message is-info">
  <div class="message-header">
    Flu Season is Coming... Are You Prepared?
    <a class="button is-small is-white is-outlined" style="float: right; margin-top: -2px;"
      ui-sref="underConstruction">
      <span>Shop Cold &amp; Flu Medicines</span>
      <span class="icon"><i class="fa fa-angle-right"></i></span>
    </a>
  </div>
  <div class="message-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Pellentesque risus mi, tempus quis placerat ut, porta nec
    nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam
    gravida purus diam, et dictum felis venenatis efficitur.
    Aenean ac eleifend lacus, in mollis lectus. Donec sodales,
    arcu et sollicitudin porttitor, tortor urna tempor ligula,
    id porttitor mi magna a neque. Donec dui urna, vehicula et
    sem eget, facilisis sodales sem.
  </div>
</article>
