<div class="pdtl-wrapper">
  <div class="tile is-ancestor">
    <div class="tile is-4 is-parent is-vertical">
      <div class="tile is-child">
        <div class="columns">
          <div class="column">
            <a ui-sref="productDetail">
              <img src="images/VitaminB6.jpg" style="width: 155px; height: 155px;">
            </a>
          </div>
          <div class="column">
            <p class="pdtl-productPrice-old"><strike>$10.25</strike>  <span class="pdtl-productPrice">$5.15</span></p>
            <br>
            <a class="button is-small is-primary" ng-click="master.addToCart({productId: 1})">
              <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
              <span class="icon">
                <i class="fa fa-shopping-cart"></i>
              </span>
            </a>
          </div>
        </div>
        <a class="pdtl-productName" ui-sref="productDetail">Nature Made Vitamin B6 Tablets</a>
        <p><strong>Description:</strong>...vitamin B6, also called pyridoxine, supports cellular energy production...</p>
      </div>
      <div class="tile is-9 is-child">
        <a class="pdtl-productReview" ui-sref="productDetail({ma: 'Reviews'})">
          Review <span class="tag is-info is-small"> 47 </span> : <br>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star-half-o"></i></span>
          4.4
        </a>
      </div>
    </div>
    <div class="tile is-4 is-parent is-vertical">
      <div class="tile is-child">
        <div class="columns">
          <div class="column">
            <a ui-sref="productDetail({id: 2})">
              <img src="images/VitaminE.jpg" style="width: 155px; height: 155px;">
            </a>
          </div>
          <div class="column">
            <p class="pdtl-productPrice-old"><strike>$17.99</strike>  <span class="pdtl-productPrice">$8.99</span></p>
            <br>
            <a class="button is-small is-primary" ng-click="master.addToCart({productId: 2})">
              <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
              <span class="icon">
                <i class="fa fa-shopping-cart"></i>
              </span>
            </a>
          </div>
        </div>
        <a class="pdtl-productName" ui-sref="productDetail({id: 2})">Nature Made Vitamin E Tablets</a>
        <p><strong>Description:</strong>...Vitamin E is an antioxidant and is an essential nutrient for many cells, including heart muscle cells...</p>
      </div>
      <div class="tile is-9 is-child">
        <a class="pdtl-productReview" ui-sref="productDetail({id: 2,ma: 'Reviews'})">
          Review <span class="tag is-info is-small"> 47 </span> : <br>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star-o"></i></span>
          4.1
        </a>
      </div>
    </div>
    <div class="tile is-4 is-parent is-vertical">
      <div class="tile is-child">
        <div class="columns">
          <div class="column">
            <a ui-sref="productDetail">
              <img src="images/AmericanHealthVitamin.jpg" style="width: 155px; height: 155px;">
            </a>
          </div>
          <div class="column">
            <p class="pdtl-productPrice-old"><strike>$24.99</strike>  <span class="pdtl-productPrice">$12.49</span></p>
            <br>
            <a class="button is-small is-primary" ng-click="master.addToCart({productId: 1})">
              <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
              <span class="icon">
                <i class="fa fa-shopping-cart"></i>
              </span>
            </a>
          </div>
        </div>
        <a class="pdtl-productName" ui-sref="productDetail">American Health Multivatimin Formula Tablets</a>
        <p><strong>Description:</strong>...More Than A Multiple supplies your body with naturally occurring nutrients from whole foods...</p>
      </div>
      <div class="tile is-9 is-child">
        <a class="pdtl-productReview" ui-sref="productDetail({ma: 'Reviews'})">
          Review <span class="tag is-info is-small"> 35 </span> : <br>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star-o"></i></span>
          4.0
        </a>
      </div>
    </div>
  </div>
  <hr style="background-color: #771b61">
  <div class="tile is-ancestor">
    <div class="tile is-4 is-parent is-vertical">
      <div class="tile is-child">
        <div class="columns">
          <div class="column">
            <a ui-sref="productDetail">
              <img src="images/22DaysProteinBar.jpg" style="width: 155px; height: 155px;">
            </a>
          </div>
          <div class="column">
            <p class="pdtl-productPrice">$35.79</p>
            <br>
            <a class="button is-small is-primary" ng-click="master.addToCart({productId: 1})">
              <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
              <span class="icon">
                <i class="fa fa-shopping-cart"></i>
              </span>
            </a>
          </div>
        </div>
        <a class="pdtl-productName" ui-sref="productDetail">22 Days Organic Chocolate Chip Nutrition Protein Bars</a>
        <p><strong>Description:</strong>...Gluten-free, Plant-based, soy-free, contains almonds...</p>
      </div>
      <div class="tile is-9 is-child">
        <a class="pdtl-productReview" ui-sref="productDetail({ma: 'Reviews'})">
          Review <span class="tag is-info is-small"> 35 </span> : <br>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star-o"></i></span>
          4.0
        </a>
      </div>
    </div>
    <div class="tile is-4 is-parent is-vertical">
      <div class="tile is-child">
        <div class="columns">
          <div class="column">
            <a ui-sref="productDetail">
              <img src="images/AvantEdgeShake.jpg" style="width: 155px; height: 155px;">
            </a>
          </div>
          <div class="column">
            <p class="pdtl-productPrice">$7.99</p>
            <br>
            <a class="button is-small is-primary" ng-click="master.addToCart({productId: 1})">
              <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
              <span class="icon">
                <i class="fa fa-shopping-cart"></i>
              </span>
            </a>
          </div>
        </div>
        <a class="pdtl-productName" ui-sref="productDetail">EAS AdvantEdge Carb Control Ready to Drink Shakes</a>
        <p><strong>Description:</strong>...are ideal for individuals looking to hit their protein goals while also managing their weight...</p>
      </div>
      <div class="tile is-9 is-child">
        <a class="pdtl-productReview" ui-sref="productDetail({ma: 'Reviews'})">
          Review <span class="tag is-info is-small"> 35 </span> : <br>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star-o"></i></span>
          4.0
        </a>
      </div>
    </div>
    <div class="tile is-4 is-parent is-vertical">
      <div class="tile is-child">
        <div class="columns">
          <div class="column">
            <a ui-sref="productDetail">
              <img src="images/5Hour.jpg" style="width: 155px; height: 155px;">
            </a>
          </div>
          <div class="column">
            <p class="pdtl-productPrice">$8.99</p>
            <br>
            <a class="button is-small is-primary" ng-click="master.addToCart({productId: 1})">
              <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
              <span class="icon">
                <i class="fa fa-shopping-cart"></i>
              </span>
            </a>
          </div>
        </div>
        <a class="pdtl-productName" ui-sref="productDetail">5-Hour Energy</a>
        <p><strong>Description:</strong>...Dietary Supplement. Feel it in minutes. Lasts for hours. Hours of energy now - no crash later...</p>
      </div>
      <div class="tile is-9 is-child">
        <a class="pdtl-productReview" ui-sref="productDetail({ma: 'Reviews'})">
          Review <span class="tag is-info is-small"> 35 </span> : <br>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star-o"></i></span>
          4.0
        </a>
      </div>
    </div>
  </div>
  <hr style="background-color: #771b61">
  <div class="tile is-ancestor">
    <div class="tile is-4 is-parent is-vertical">
      <div class="tile is-child">
        <div class="columns">
          <div class="column">
            <a ui-sref="productDetail">
              <img src="images/Centrum.jpg" style="width: 155px; height: 155px;">
            </a>
          </div>
          <div class="column">
            <p class="pdtl-productPrice-old"><strike>$9.99</strike>  <span class="pdtl-productPrice">$4.99</span></p>
            <br>
            <a class="button is-small is-primary" ng-click="master.addToCart({productId: 1})">
              <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
              <span class="icon">
                <i class="fa fa-shopping-cart"></i>
              </span>
            </a>
          </div>
        </div>
        <a class="pdtl-productName" ui-sref="productDetail">Centrum Silver Multivitamin Personalized for Men 50+</a>
        <p><strong>Description:</strong>...Personalized for men 50+. Heart Health, Immunity, Environmental Stress...</p>
      </div>
      <div class="tile is-9 is-child">
        <a class="pdtl-productReview" ui-sref="productDetail({ma: 'Reviews'})">
          Review <span class="tag is-info is-small"> 35 </span> : <br>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star-o"></i></span>
          4.0
        </a>
      </div>
    </div>
    <div class="tile is-4 is-parent is-vertical">
      <div class="tile is-child">
        <div class="columns">
          <div class="column">
            <a ui-sref="productDetail">
              <img src="images/vitafusion.jpg" style="width: 155px; height: 155px;">
            </a>
          </div>
          <div class="column">
            <p class="pdtl-productPrice-old"><strike>$13.49</strike>  <span class="pdtl-productPrice">$6.75</span></p>
            <br>
            <a class="button is-small is-primary" ng-click="master.addToCart({productId: 1})">
              <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
              <span class="icon">
                <i class="fa fa-shopping-cart"></i>
              </span>
            </a>
          </div>
        </div>
        <a class="pdtl-productName" ui-sref="productDetail">Vitafusion Platinum Multivitamin Gummy Vitamins 50+</a>
        <p><strong>Description:</strong>...Dietary Supplement. Age essential multivitamins. Supports healthy cholesterol. Natural color & flavor....</p>
      </div>
      <div class="tile is-9 is-child">
        <a class="pdtl-productReview" ui-sref="productDetail({ma: 'Reviews'})">
          Review <span class="tag is-info is-small"> 35 </span> : <br>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star-o"></i></span>
          4.0
        </a>
      </div>
    </div>
    <div class="tile is-4 is-parent is-vertical">
      <div class="tile is-child">
        <div class="columns">
          <div class="column">
            <a ui-sref="productDetail">
              <img src="images/purepotein.jpg" style="width: 155px; height: 155px;">
            </a>
          </div>
          <div class="column">
            <p class="pdtl-productPrice">$12.99</p>
            <br>
            <a class="button is-small is-primary" ng-click="master.addToCart({productId: 1})">
              <span><strong style="font-size: 13px">+ Add to Cart</strong></span>
              <span class="icon">
                <i class="fa fa-shopping-cart"></i>
              </span>
            </a>
          </div>
        </div>
        <a class="pdtl-productName" ui-sref="productDetail">Pure Protein Shake</a>
        <p><strong>Description:</strong>...perfect as a delicious meal replacement, for pre & post workout, or as an anytime ready-to-drink snack...</p>
      </div>
      <div class="tile is-9 is-child">
        <a class="pdtl-productReview" ui-sref="productDetail({ma: 'Reviews'})">
          Review <span class="tag is-info is-small"> 35 </span> : <br>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star"></i></span>
          <span class="icon"><i class="fa fa-star-o"></i></span>
          4.0
        </a>
      </div>
    </div>
  </div>
</div>
