<div class="modal" ng-class="{'is-active': master.registerModalShown}">
  <form ng-submit="master.register(master.registerDetails)">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Register</p>
        <button type="button" class="delete" ng-click="master.registerModalShown = false"></button>
      </header>
      <section class="modal-card-body">
        <p class="control has-icon">
          <input class="input" type="email" autofocus required placeholder="Email">
          <i class="fa fa-envelope"></i>
        </p>
        <p class="control has-icon">
          <input class="input" type="password" required placeholder="Password">
          <i class="fa fa-lock"></i>
        </p>
        <p class="control has-icon">
          <input class="input" type="password" required placeholder="Confirm Password">
          <i class="fa fa-lock"></i>
        </p>
        <p style="color: #753741">
          * All fields are required.
        </p>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-primary">Register</button>
        <a class="button" ng-click="master.registerModalShown = false">Cancel</a>
      </footer>
    </div>
  </form>
</div>
